@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body, input {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 4rem;
}

.msgbox {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body.ok {
    background-color: #a0ffa0;
    color: #324147;
}

body.error {
    background-color: #800000;
    color: #ffffff;
}

body.error a {
    color: #ffffff;
}

body.setup {
    background-color: #f0d080;
    color: #000000;
}

::placeholder,
::-ms-input-placeholder {
    opacity: 0.5;
}

body.setup input[type=text] {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255, 0.8);
    padding: 0.25rem 2rem 0.25rem 2rem;
    width: 30rem;
    max-width: calc(100% - 4rem);
    text-align: center;
    color: #000000;

}

body.setup span.code {
    display: block;
    border-style: solid;
    border-width: 0.25rem;
    border-color: rgb(0, 0, 0, 0.25);
    border-radius: 0.25rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 1rem;
    text-decoration: none;
    color: #000000;

    /* Prevent text selection on long-click: */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

body.setup span.code:active,
body.setup span.code:hover,
body.setup span.code:focus {
    background-color: rgb(255, 255, 255, 0.25);
}

input::placeholder {
    color: rgb(0, 0, 0, 0.15);
}

body.setup input[type=submit] {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 0.8);
    padding: 0.25rem 2rem 0.25rem 2rem;
    color: #000000;
}
